<app-sidebar [currentPage]="page"></app-sidebar>
<app-navbar></app-navbar>
<app-breadcrumb [listPages]="allPages" [titlePage]="title"></app-breadcrumb>
<div class="float-start container">
  <div class="mt-2">
    <h1>Inicio</h1>
  </div>

  <div class="d-flex align-items-center p-3 my-3 text-white bg-primary rounded shadow-sm">
    <i class="bi bi-house-fill me-3"></i>

    <div class="lh-1">
      <p>Bienvenido {{firstName}} {{lastName}}!</p>
    </div>
  </div>

  <div class="card p-4 pt-2 rounded-0 shadow-sm border-0">
    <div class="row mt-3">
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            <p>Solicitudes más recientes</p>
          </div>
          <div class="card-body entry-items">
            <div class="row g-3 mb-3">

            </div>
            
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="d-flex align-items-center p-3 text-white bg-primary rounded shadow-sm">
          <i class="bi bi-exclamation-circle me-3"></i>
          <div class="lh-1">
            <p>Mapa UCM</p>
          </div>
          <div>

          </div>
        </div>
        <img src="../../assets/img/mapa_ucm.png" class="map-ucm mt-2">
      </div>
    </div>
    

  </div>
</div>