<app-sidebar [currentPage]="page"></app-sidebar>
<app-navbar></app-navbar>
<app-breadcrumb [listPages]="allPages" [titlePage]="title"></app-breadcrumb>
<div class="float-start container">
  <h1>{{title}}</h1>
  <div class="mt-3">
    <div class="card p-4 pt-2 rounded-0 shadow-sm border-0">
      <div class="card mt-3 mb-3 height-list-tickets">
        <div class="card-header">
          <p>Registros</p>
        </div>
        <div class="card-body p-0">
          <ul class="list-group rounded-0">
            <div class="m-2 mb-0 row">
              <div class="col-1">
                <p>ID</p>
              </div>
              <div class="col-6">
                <p>Descripcion</p>
              </div>
              <div class="col-3 text-center" >
                <p>Fecha</p>
              </div>
              <div class="col-2 text-center">
                <p>Tipo</p>
              </div>
            </div>

            <hr class="mb-2 mt-2">

            <div *ngFor="let i of paginationShowLogs | keyvalue" class="m-2 row">
              <div class="col-1">
                <p>{{i.value['id']}}</p>
              </div>
              <div class="col-6">
                <p>{{i.value['description']}}</p>
              </div>
              <div class="col-3 text-center">
                <p>{{i.value['date']}}</p>
              </div>
              <div *ngIf="i.value['logType'].id == 1" class="col-2 text-center">
                <p>Creado</p>
              </div>
              <div *ngIf="i.value['logType'].id == 2" class="col-2 text-center">
                <p>Actualizado</p>
              </div>
              <div *ngIf="i.value['logType'].id == 3" class="col-2 text-center">
                <p>Eliminado</p>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <nav aria-label="..." class="d-flex flex-row-reverse">
        <ul class="pagination">
          <li *ngIf="pagination == 1; then thenPaginationBackBlock else elsePaginationBackBlock"></li>
          <ng-template #thenPaginationBackBlock>
              <button class="page-link shadow-none disabled" disabled><p>Anterior</p></button>
          </ng-template>
          <ng-template #elsePaginationBackBlock>
            <button class="page-link shadow-none" (click)="ngOnPaginationBack()"><p>Anterior</p></button>
          </ng-template>

          <li *ngFor="let i of paginationList" class="page-item">
              <span *ngIf="pagination == i; then thenPaginationItemBlock else elsePaginationItemBlock"></span>
              <ng-template #thenPaginationItemBlock>
                <button class="page-link shadow-none disabled" disabled><p>{{i}}</p></button>
              </ng-template>
              <ng-template #elsePaginationItemBlock>
                <button class="page-link shadow-none" (click)="ngOnPaginationItem(i)"><p>{{i}}</p></button>
              </ng-template>
          </li>

          <li *ngIf="this.paginationLengh != 10; then thenPaginationNextBlock else elsePaginationNextBlock"></li>
          <ng-template #thenPaginationNextBlock>
            <button class="page-link shadow-none disabled" disabled><p>Siguiente</p></button>
          </ng-template>
          <ng-template #elsePaginationNextBlock>
            <button class="page-link shadow-none" (click)="ngOnPaginationNext()"><p>Siguiente</p></button>
          </ng-template>
        </ul>
      </nav>

    </div>
  </div>
</div>